# Dependencies
node_modules/

# Next.js
.next/
out/

# Production
dist/

# Env files (NUNCA commitar)
.env
.env.local
.env.production
.env.development.local
.env.test.local
.env.production.local

# Generated
src/generated/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/

# Docker
.dockerignore

# TypeScript
*.tsbuildinfo
next-env.d.ts
